# some possible output files
*.annot
*.cmo
*.cma
*.cmi
*.o
*.out
*.out.*
*.cmx
*.cmxs
*.cmxa
*.fxp
*.git_commit
ficus0.0
config.ml
lexer.ml
parser.ml
parser.mli
parser.output
src/ficus
src/result.pgm
bin/
tools/ocaml2fx/ocaml2fx
tools/ocaml2fx/*.fx

# ocamlbuild working directory
_build/

# ficus build directory
__fxbuild__/

# vscode config files etc.
.vscode/

# private expriments
mytest/

# ocamlbuild targets
*.byte
*.native
